.react-calendar {
  border: none;
  font-family: inherit;
}

.react-calendar__tile--now {
  background: transparent !important;
  color: inherit !important;
}

.react-calendar__tile--active {
  background: #3b82f6 !important;
  color: white !important;
}

.react-calendar__tile:enabled:hover {
  background-color: #e5e7eb !important;
}

.react-calendar__tile {
  border-radius: 8px;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}